
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("11.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.signin{
  background: rgba(44,62,80,0.7);
  padding: 40px;
  width: 250px;
  margin: auto;
  margin-top: 80px;
  height: 400px;
  margin-left: 180px;
}
form{
  width: 240px;
  text-align: center;
}
input{
  width:240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'play', sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.55s;
  outline: none;
  color: #fff;
}
input[type=button]{
  
  border: none;
  width: 190px;
  background: white;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
}
input[type=button]:hover{
  color: #fff;
  background-color: black;
}
h2{
  color: white;
}
a{
  color:yellow;
  text-decoration: blink;
}
a:hover{
  color:skyblue;
}
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
::placeholder{
  color: aliceblue;
  opacity: 0.8;
}


header{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}
header .logo{
  color: #fff;
  height:50px;
  line-height:50px;
  font-size: 24px;
  float: left;
  font-weight: blod;
}
header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  height:50px;
  line-height:50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover{
  color: #fff;
  background: #2196f3;
}
.menu-toggle{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media(max-width: 1000px){
  header{
    padding: 0 20px;
  }
  .menu-toggle{
    display: block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active{
    left: 0;
  }
  header nav ul{
    display: block;
    text-align: center;
  }
}
